html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body > main {
    flex: 1;
    padding-left: 10px;
}

.nav-button {
    color: #102b40;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: auto;
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-button:hover {
    background-color: #102b40;
    color: white;
}

.nav-button:active {
    text-decoration: underline;
}

.inactive {
    text-decoration: none;
}

.navbar {
    display: flex; 
    align-items: center; 
    padding: 0; 
    height: 75px; 
    top: 0; 
    left: 0; 
    width: 100%;
    background: #efedee;
}

.page-header {
    color: #102b40;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 10px 8px 6px 0;
    display: inline-block;
}

.table-header {
    color: #102b40;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: inline-block;
}

.gloss-header {
    color: #102b40;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.gloss-line {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    padding-bottom: 5px;
}

.index-table-scroll-container {
    overflow-y: auto;
    display: inline-block;
    max-height: 1000px;
}

.table-scroll-container {
    overflow-x: auto;       /* enables horizontal scrolling */
    overflow-y: auto;
    display: inline-block;
    max-width: 95%;        /* keeps it from overflowing the page */
    max-height: 1200px;
}

.table-wrapper {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.stats-table {
    min-width: 80%;       /* or wider depending on how many columns you have */
    width: max-content;     /* keeps it from shrinking too small */
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.stats-table thead th {
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #102b40;
    color: white;
    width: auto;
    border: 0px;
}

.stats-table th, .stats-table td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: center;
    white-space: nowrap;
}

.stats-table tbody tr:nth-child(even) {
    background-color: #ece9e9;
}

.stats-table tbody tr:hover {
    background-color: #0800fb36;
}

.srbutton {
    color: #102b40;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    background: white;
    border-color: #102b40;
    border-radius: 10px;
}

.dropdown-desc {
    color: #102b40;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.dropdown {
    color: #102b40;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-color: #102b40;
    border-radius: 10px;
}

.srbutton.active {
    background-color: #102b40;
    color: white;
}

.site-footer {
    background-color: #102b40;
    color: white;
    padding: 15px 0;
    font-size: 14px;
    margin-top: 40px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.team-selector {
    font-size: 20px;
    color: #102b40;
    height: 8%;
    border-radius: 100px;
    text-align: center;
}

.compare-teams-button {
    background: #102b40;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.matchup-row {
    height: 12px;
    font-size: 13px;
}

.matchup-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 10px;
}

.matchup-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;  /* responsive stacking on mobile */
}

.matchup-logo {
    height: 200px;
    object-fit: contain;
}

.matchup-table {
    border-collapse: collapse;
    text-align: center;
    width: 45%;
    max-width: 65%;
}

.matchup-table td, .matchup-table th {
    border: 1px solid #ccc;
    padding: 8px;
}

.matchup-label{
    font-weight: bold;
    color:#102b40;
}

.team-column {
    width: 25%;
}

.team-rank-column {
    width: 60px;
}

.spinner {
    border: 6px solid #f3f3f3;         /* Light gray */
    border-top: 6px solid #3498db;     /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.gauge-container {
    position: relative;
    width: 400px;
    height: 200px;
    margin: auto;
}

.gauge {
    width: 100%;
    height: 100%;
}

.gauge-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 40px;
    font-weight: bold;
    color: #102b40;
    font-family: Arial, sans-serif;
}