html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body > main {
    flex: 1;
    padding-left: 0.625rem;
    margin-top: 5.125rem;
}

.nav-button {
    color: #102b40;
    font-weight: bold;
    font-size: 0.938rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 3.125rem;
    width: auto;
    padding: 0.625rem;
    display: flex;
    align-items: center;
}

.nav-button:hover {
    background-color: #102b40;
    color: white;
}

.nav-button:active {
    text-decoration: underline;
}

.inactive {
    text-decoration: none;
}

.navbar {
    position: fixed;
    z-index: 1000;
    display: flex; 
    align-items: center; 
    padding: 0; 
    height: 4.688rem; 
    top: 0; 
    left: 0; 
    width: 100%;
    background: #efedee;
}

.page-header {
    color: #102b40;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0.625rem 0.5rem 0.375rem 0;
    display: inline-block;
}

.table-header {
    color: #102b40;
    width: 100%;
    font-size: 1.125rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: inline-block;
}

.gloss-header {
    color: #102b40;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.gloss-line {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0.938rem;
    padding-bottom: 0.383rem;
    font-size: 0.75rem;
}

.index-table-scroll-container {
    overflow-y: auto;
    display: inline-block;
    max-height: 62.5rem;
}

.table-scroll-container {
    overflow-x: auto;       /* enables horizontal scrolling */
    overflow-y: auto;
    display: inline-block;
    max-width: 98%;        /* keeps it from overflowing the page */
    max-height: 75rem;
}

.table-wrapper {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.stats-table {
    min-width: 80%;       /* or wider depending on how many columns you have */
    width: max-content;     /* keeps it from shrinking too small */
    border-collapse: collapse;
    margin-top: 1rem;
    font-family: Arial, sans-serif;
    font-size: 0.71rem;
}

.stats-table thead th {
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #102b40;
    color: white;
    width: auto;
    border: 0.0rem;
}

.stats-table th, .stats-table td {
    padding: 0.45rem 0.55rem;
    border: 0.063rem solid #ddd;
    text-align: center;
    white-space: nowrap;
}

.stats-table tbody tr:nth-child(even) {
    background-color: #ece9e9;
}

.stats-table tbody tr:hover {
    background-color: #0800fb36;
}

.srbutton {
    color: #102b40;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.938rem;
    font-weight: bold;
    background: white;
    border-color: #102b40;
    border-radius: 0.625rem;
}

.dropdown-desc {
    color: #102b40;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.938rem;
    font-weight: bold;
}

.dropdown {
    color: #102b40;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.938rem;
    font-weight: bold;
    border-color: #102b40;
    border-radius: 0.625rem;
    text-align: center;
}

.srbutton.active {
    background-color: #102b40;
    color: white;
}

.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #102b40;
    color: white;
    padding: 0.938rem 0;
    font-size: 0.875rem;
    margin-top: 2.5rem;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    font-size: 0.85rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.team-selector {
    font-size: 1rem;
    color: #102b40;
    height: 8%;
    border-radius: 6.25rem;
    text-align: center;
}

.matchup-row {
    height: 0.75rem;
    font-size: 0.813rem;
}

.matchup-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25rem;
    gap: 0.625rem;
}

.matchup-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.25rem;
    margin-top: 1.25rem;
    flex-wrap: wrap;  /* responsive stacking on mobile */
}

.team-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.matchup-logo {
    height: 10rem;
    object-fit: contain;
    margin-bottom: 15%;
}

.matchup-table {
    border-collapse: collapse;
    text-align: center;
    width: 45%;
    max-width: 65%;
}

.matchup-table td, .matchup-table th {
    border: 0.063rem solid #ccc;
    padding: 0.5rem;
}

.matchup-label{
    font-weight: bold;
    color:#102b40;
}

.team-column {
    width: 25%;
}

.team-rank-column {
    width: 3.75rem;
}

.spinner {
    border: 0.375rem solid #f3f3f3;         /* Light gray */
    border-top: 0.375rem solid #3498db;     /* Blue */
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    animation: spin 1s linear infinite;
    margin: 1.25rem auto;
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.gauge-container {
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
}

.gauge-description {
    font-size: 0.85rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #102b40;
    text-align: center;
}

.gauge {
    width: 100%;
    height: 100%;
}

.gauge-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    font-size: 2rem;
    font-weight: bold;
    color: #102b40;
    font-family: Arial, sans-serif;
}