<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V1ZTVVGRXC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-V1ZTVVGRXC');
    </script>
</head>
<body>
    {% include 'navbar.html' %}

    <main>
        <div class="table-wrapper">
            <div id="top-25-data"></div>
            <div id="madness-rating"></div>
            <div id="teams"></div>
        </div>
        <br>
        <p>Site last updated: 12:25 PM MST 2/10/2026</p>
        <div class="footer-padding" style="height: 10%;"></div>
    </main>
    
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/index-controller.js') }}"></script>
</body>
</html>