<!DOCTYPE html>
<html>
<head>
    <title>Plotly</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
    {% include 'navbar.html' %}

    <main class="no-footer-pad">
        <div class="chart-layout">
            <div class="chart-container">
                <div id="top68Chart"></div>
            </div>

            <div class="controls-container">
                <select id="howSelect" class="team-selector plotly-select">
                    <option value="Top 68 Teams By Madness Rating">Top 68 Teams By Madness Rating</option>
                    <option value="Top 68 Teams By Net Rating">Top 68 Teams By Net Rating</option>
                    <option value="All Teams">All Teams</option>
                    <option value="A-10">A-10</option>
                    <option value="A-Sun">A-Sun</option>
                    <option value="ACC">ACC</option>
                    <option value="AmEast">AmEast</option>
                    <option value="American">American</option>
                    <option value="Big 12">Big 12</option>
                    <option value="Big East">Big East</option>
                    <option value="Big Sky">Big Sky</option>
                    <option value="Big South">Big South</option>
                    <option value="Big Ten">Big Ten</option>
                    <option value="Big West">Big West</option>
                    <option value="CAA">CAA</option>
                    <option value="CUSA">CUSA</option>
                    <option value="Horizon">Horizon</option>
                    <option value="Ivy">Ivy</option>
                    <option value="MAAC">MAAC</option>
                    <option value="MAC">MAC</option>
                    <option value="MEAC">MEAC</option>
                    <option value="MVC">MVC</option>
                    <option value="MWC">MWC</option>
                    <option value="NEC">NEC</option>
                    <option value="OVC">OVC</option>
                    <option value="Patriot">Patriot</option>
                    <option value="SEC">SEC</option>
                    <option value="Southern">Southern</option>
                    <option value="Southland">Southland</option>
                    <option value="Summit">Summit</option>
                    <option value="Sun Belt">Sun Belt</option>
                    <option value="SWAC">SWAC</option>
                    <option value="WAC">WAC</option>
                    <option value="WCC">WCC</option>
                </select>
            </div>
        </div>
        <div class="footer-padding" style="height: 10%;"></div>
    </main>
    
    {% include 'footer.html' %}
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/plotly-controller.js') }}"></script>
</body>
</html>
