<!DOCTYPE html>
<html>
<head>
    <title>Stats/Ratings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
    {% include 'navbar.html' %}

    <main>
        <h2 class="page-header">Data By Team</h2>

        <br><br>
        <div style="width: 100%; display: flex; justify-content: left; gap: 10px;">
            <button id="team-stats-button" class="srbutton active">Team Stats</button>
            <button id="team-ratings-button" class="srbutton">Team Ratings/Adv. Stats</button>
        </div>

        <br>
        <label for="conferences-dropdown" class="dropdown-desc">Filter by Conf.</label>
        <select name="conferences" id="conferences-dropdown" class="dropdown">
            <option value="None"> - None - </option>
            <option value="A-10">A-10</option>
            <option value="A-Sun">A-Sun</option>
            <option value="AAC">AAC</option>
            <option value="ACC">ACC</option>
            <option value="AEC">AEC</option>
            <option value="Big 12">Big 12</option>
            <option value="Big East">Big East</option>
            <option value="Big Sky">Big Sky</option>
            <option value="Big South">Big South</option>
            <option value="Big Ten">Big Ten</option>
            <option value="Big West">Big West</option>
            <option value="CAA">CAA</option>
            <option value="CUSA">CUSA</option>
            <option value="Horizon">Horizon</option>
            <option value="Ivy">Ivy</option>
            <option value="MAAC">MAAC</option>
            <option value="MAC">MAC</option>
            <option value="MEAC">MEAC</option>
            <option value="MVC">MVC</option>
            <option value="MWC">MWC</option>
            <option value="NEC">NEC</option>
            <option value="OVC">OVC</option>
            <option value="Patriot">Patriot</option>
            <option value="SEC">SEC</option>
            <option value="Southern">Southern</option>
            <option value="Southland">Southland</option>
            <option value="Summit">Summit</option>
            <option value="Sun Belt">Sun Belt</option>
            <option value="SWAC">SWAC</option>
            <option value="WAC">WAC</option>
            <option value="WCC">WCC</option>
        </select>
        
        <br><br>
        <div id="data-list"></div>

        <div id="team-stats-glossary" style="display: block;">
            <h3 class="gloss-header">Team Stats Glossary</h3>
            <li class="gloss-line"><b>Conf</b> -  Conference Affiliation</li>
            <li class="gloss-line"><b>G</b> - Games played </li>
            <li class="gloss-line"><b>W</b> - Wins</li>
            <li class="gloss-line"><b>L</b> - Losses </li>
            <li class="gloss-line"><b>W-L%</b> - Win-Loss Percentage </li>
            <li class="gloss-line"><b>Conf. W</b> - Conference Wins </li>
            <li class="gloss-line"><b>Conf. L</b> - Conference Losses </li>
            <li class="gloss-line"><b>Points</b> - Points </li>
            <li class="gloss-line"><b>Opp. Points</b> - Opponent Points </li>
            <li class="gloss-line"><b>PPG</b> - Points Per Game </li>
            <li class="gloss-line"><b>Opp. PPG</b> - Opponent Points Per Game </li>
            <li class="gloss-line"><b>MOV</b> - Margin Of Victory </li>
            <li class="gloss-line"><b>Rebs</b> - Rebounds </li>
            <li class="gloss-line"><b>O. Rebs</b> - Offensive Rebounds </li>
            <li class="gloss-line"><b>Ast</b> - Assists </li>
            <li class="gloss-line"><b>Stl</b> - Steals </li>
            <li class="gloss-line"><b>Blk</b> - Blocks </li>
            <li class="gloss-line"><b>TO</b> - Turn Overs </li>
            <li class="gloss-line"><b>PF</b> - Personal Fouls</li>
            <li class="gloss-line"><b>MP</b> - Minutes Played </li>
            <li class="gloss-line"><b>FG</b> - Field Goals </li>
            <li class="gloss-line"><b>FGA</b> - Field Goals Attempted </li>
            <li class="gloss-line"><b>FGP</b> - Field Goal Percentage </li>
            <li class="gloss-line"><b>3P</b> - 3-Point Field Goals </li>
            <li class="gloss-line"><b>3PA</b> - 3-Point Field Goal Attempts </li>
            <li class="gloss-line"><b>3P%</b> - 3-Point Field Goal Percentage </li>
            <li class="gloss-line"><b>FT</b> - Free Throws </li>
            <li class="gloss-line"><b>FTA</b> - Free Throw Attempts </li>
            <li class="gloss-line"><b>FT%</b> - Free Throw Percentage </li>
        </div>
        <div id="team-ratings-glossary" style="display: none;">
            <h3 class="gloss-header">Team Ratings Glossary</h3>
            <li class="gloss-line"><b>Conf</b> -  Conference Affiliation</li>
            <li class="gloss-line"><b>AP Rank</b> - Current AP Poll Ranking </li>
            <li class="gloss-line"><b>G</b> - Games played </li>
            <li class="gloss-line"><b>W</b> - Wins</li>
            <li class="gloss-line"><b>L</b> - Losses </li>
            <li class="gloss-line"><b>W-L%</b> - Win-Loss Percentage </li>
            <li class="gloss-line"><b>Conf. W</b> - Conference Wins </li>
            <li class="gloss-line"><b>Conf. L</b> - Conference Losses </li>
            <li class="gloss-line"><b>SOS</b> - Strength of Schedule. A rating of strength of schedule. The rating is denominated in points above/below average, where zero is average. <br>&emsp;&emsp;&emsp;&emsp;Non-Division I games are excluded from the ratings.</li>
            <li class="gloss-line"><b>O. SRS</b> -  The offensive component of the Simple Rating System (SRS), a rating that takes into account average point differential and strength <br>&emsp;&emsp;&emsp;&emsp;of schedule. The rating is denominated in points above/below average, where zero is average. Non-Division I games are excluded from <br>&emsp;&emsp;&emsp;&emsp;the ratings.</li>
            <li class="gloss-line"><b>D. SRS</b> -  The defensive component of the Simple Rating System (SRS), a rating that takes into account average point differential and strength <br>&emsp;&emsp;&emsp;&emsp;of schedule. The rating is denominated in points above/below average, where zero is average. Non-Division I games are excluded from <br>&emsp;&emsp;&emsp;&emsp;the ratings.</li>
            <li class="gloss-line"><b>SRS</b> - The Simple Rating System. A rating that takes into account average point differential and strength of schedule. The rating is denominated in <br>&emsp;&emsp;&emsp;&emsp;points above/below average, where zero is average. Non-Division I games are excluded from the ratings.</li>
            <li class="gloss-line"><b>O. Rtg</b> - Offensive Rating. An estimate of points scored (for teams) or points produced (for players) per 100 possessions.</li>
            <li class="gloss-line"><b>D. Rtg</b> - Defensive Rating. An estimate of points allowed (for teams) or points produced (for players) per 100 possessions.</li>
            <li class="gloss-line"><b>N. Rtg</b> - Net Rating. An estimate of point differential per 100 posessions.</li>
            <li class="gloss-line"><b>Pace</b> - An estimate of posessions per 40 minutes.</li>
            <li class="gloss-line"><b>FTr</b> - Free Throw Rate. Number of Free Throw attempts per Field Goal attempt.</li>
            <li class="gloss-line"><b>FT/FGA</b> -  Free Throws made per Field Goal attempt.</li>
            <li class="gloss-line"><b>3PAr</b> - 3-Point Attempt Rate. Percentage of Field Goal Attempts from 3-Point Range.</li>
            <li class="gloss-line"><b>TRB%</b> - Total Rebound Percentage. The percentage of available rebounds a team grabs relative to its opponent.</li>
            <li class="gloss-line"><b>ORB%</b> - Offensive Rebound Percentage. The percentage of available offensive rebounds a team grabs relative to its opponent.</li>
            <li class="gloss-line"><b>AST%</b> - Assist Percentage. The percentage of a team's field goals that are assisted by a teammate.</li>
            <li class="gloss-line"><b>STL%</b> - Steal Percentage. An estimate of the percentage of opponent posessions that end with a steal.</li>
            <li class="gloss-line"><b>BLK%</b> - Block Percentage. An estimate of the percentage of opponent two point field goal attempts blocked.</li>
            <li class="gloss-line"><b>TOV%</b> - Turnover Percentage. An estimate of turnovers per 100 plays.</li>
            <li class="gloss-line"><b>eFG%</b> - Effective Field Goal Percentage. This statistic adjusts for the fact that a 3-point field goal is worth one more point than a 2-point field goal.</li>
            <li class="gloss-line"><b>TS%</b> - True Shooting Percentage. A measure of shooting efficiency that takes into account 2-point field goals, 3-point field goals, and free throws.</li>
        </div>
    </main>
    
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/team-stats-controller.js') }}"></script>
</body>
</html>